.btn {
    background-color: coral;
    padding: 10px 30px;
    color: white;
    font-size: 18px;
    font-weight: 500;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 50px;
}